
/* Corpo */
body{
  background-color: #253140;
  color: white;
}

/* Cabeçãlho */
header{
  border: 1px solid yellow;
  color: yellow;
  text-align: center;
  width: 400px;
  margin-left: 400px;
  margin-top: 30px;
  border-radius: 10px;
  
}

.name{
  font-size: 25px;
  padding: 0%;
  margin: 0;
}

.skills{
  font-size: 50px;
  padding: 0%;
  margin: 0;
}

/* Estrutura */

article{
  border: 1px solid white;
}

.lideranca{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.comunicação{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.resolução{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.gestão{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.tempo{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.estratégia{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.publico{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;

}

.autodidatismo{
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}