*{
  margin: 0;
  padding:0;
}
.container1{
  border: 1px solid red;
  width: 100%;
  margin: 10px;
    
}

header{
  text-align: center;
  border: 1px solid red;
  margin: 10px;
  width: 400px;
  margin-left:700px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  text-align: center;
 align-items: center;
}

.lideranca{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
  }

  .comunicacao{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
  }

.resolucao{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
}
.gestao{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
}
.tempo{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
}

.estrategia{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
}
.publico{
  background-color: blue;
  color: #ffff;
  padding: 10px;
 width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
}

.autodidatismo{
  background-color: blue;
  color: #ffff;
  padding: 10px;
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 10px;
}

footer{
  text-align: center;
  background-color: blueviolet;
  color: #ffff;
  padding: 10px;
  width: 100%;
 
 
}
a{

  text-decoration: none;
  color:#ffff;
}